@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 26,32,44;
    --background-end-rgb: 26,32,44; */
    --background-start-rgb: 0,0,0;
    --background-end-rgb: 0,0,0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* body {
  color: rgb(207, 217, 217);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #060000; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  line-height: 1.5; 
  margin: 0;
} */
