@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26,32,44;
    --background-end-rgb: 26,32,44;
  }
}

body {
  color: rgb(207, 217, 217);

  background-size: cover; /* Adjust to 'contain' or '100% 100%' based on preference */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */

  /* Set text color */
  color: #060000; /* Adjust the text color to be readable on the background */

  /* Add other styles as needed */
  font-family: 'Arial', sans-serif; /* Set the font family */
  font-size: 16px; /* Set the default font size */
  line-height: 1.5; /* Set the line height */
  margin: 0;
}
